<footer>
  <div class="container">
    <div class="social-links">
      <a href="https://twitter.com/" class="social-link" target="_blank" rel="noopener">Twitter</a>
      <a href="https://github.com/" class="social-link" target="_blank" rel="noopener">GitHub</a>
      <a href="https://www.linkedin.com/in/kay-steinbauer-6256912b7" class="social-link" target="_blank" rel="noopener">LinkedIn</a>
    </div>
    <p class="copyright">© {{ now | date("yyyy") }} KSB Labs. Alle Rechte vorbehalten.</p>
  </div>
</footer>
