<!DOCTYPE html>
<html lang="{{ lang }}">
  {% set t = translations[lang] %}
  <head>
    <meta charset="UTF-8"/>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/styles/styles.css"/> {# <script type="module" src="/scripts/language.js"></script> #}
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/privacy.css">
    <link rel="stylesheet" href="/styles/cookies.css">
    <!-- Fonts --> <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600;700&family=Space+Grotesk:wght@400;500;600&display=swap"
      rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&amp;family=Inter&amp;display=swap"
      rel="stylesheet">
    <link rel="stylesheet" href="/styles/home_hero.css">
    <link rel="icon" type="image/png" href="/images/geoboost_logo.png">
    
    <link rel="alternate" hreflang="de" href="https://geoboost.de/de/"/>
    <link rel="alternate" hreflang="en" href="https://geoboost.de/en/"/>
  </head>
  <body>
    {% set pageType = pageType or "default" %}
    {% include "header.njk" %}
    <main>
      {{ content | safe }}
    </main>
    {% include "footer.njk" %}
  </body>

  <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
</html>